.aside-drawer {
    background-color: white;
    border: 1px solid slategray;
    opacity: 95%;
    width: 40%;
    height: auto;
    position: fixed;
    top: 15%;
    left: 70%;
}

.closeDrawerBtn {
    border: 0;
    background-color: white;
    font-size: 24px;
}

.select-Attributes {
    padding: 5%;
}