.productDescription {
    display: flex;
    gap: 40px;
    padding: 50px;
}

.imageContainer {
    display: flex;
}

.flexSmallImages {
    display: flex;
    flex-direction: column;
}

.flexSmallImages img {
    width: 140px;
    height: 140px;
    margin-bottom: 5px;
}

.fullImageContainer {
    width: 500px;
    height: 500px;
}

#fullImage {
    margin-left: 4%;
    width: 100%;
    height: 100%;
}

.attributeValues {
    display: flex;

}

.swatch {
    margin-right: 5px;
    width: 32px;
    height: 32px;
}

.swatch:hover {
    border: green;
}

.singleAttribute {
    margin-right: 15px;
    border: 1px solid black;
    padding: 0 5px;
}

#addToCartBtn {
    border: 0;
    background-color: #5ECE7B;
    color: white;
    font-weight: 600;
    width: 292px;
    height: 52px;
    padding: 16px 32px
}