.productCard {
    width: 350px;
    height: auto;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: red;
}

#productImg {
    width: 350px;
    height: 350px;
    border-radius: 8px;
}

.addToCartBtn {
    visibility: hidden;
    position: relative;
    text-align: end;
    bottom: 30px;
}

.productCard:hover .addToCartBtn {
    visibility: visible;
}