.singleProductOnCartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.quantityControlContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 170px;
    margin: 0 10px;
}

.quantityControlContainer button {
    background-color: white;
    border: 1px solid black;
}